body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #FFFFFF;
}

h1{
    font-family: "Montserrat";
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;

}

h3{
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5rem; 
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 100;
}

/*  Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* iPhone Image */
.iphone{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.iphone-div{
    position: relative;
}

/* Features Section */

#features{
    padding: 7% 15%;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

/* Icons */
.icons{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icons:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #FFFFFF;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;

}

.carousel-item{
    padding: 7% 15%;
}

/*Pricing Section*/
#pricing{
    padding: 100px;
    text-align: center;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-pg{
    padding-bottom: 5%;
}